@model GovFinance.Models.Income

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Income</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            اسم المواطن
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Citizen.ApplicationUserId)
        </dd>
        <dt class = "col-sm-2">
            المبلغ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            مصدر الدخل
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
           التاريخ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            ملاحظات
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">تعديل</a> |
    <a asp-action="Index">العودة إلى القائمة</a>
</div>
